* {
  background-color: #000000;
}
.container {
  text-align: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
  color: wheat;
}

.game-cell {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #cdc6c6;
  border: 1px solid #ffffff;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
  border-radius: 10px;
}
.title {
  color: violet;
}
.game-restart {
  height: 50px;
  width: 400px;
  color: red;
  background-color: pink;
  border-radius: 10px;
  font-weight: bold;
  font-size: 25px;
}
.game-notification {
  color: violet;
}
